In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
np.arange(4)

In [3]:
df1 = DataFrame({'A':[1,2,3],
                 'B':[4,5,6]})

In [5]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
df2=DataFrame({'A':[10,11],
                'B':[40,50]})

In [9]:
df2

    A   B
0  10  40
1  11  50

In [11]:
df1 = DataFrame({'A':[40,50,60],
                 'B':[70,80,90],
                 'C':[10,11,12]})

In [13]:
df1

    A   B   C
0  40  70  10
1  50  80  11
2  60  90  12

In [18]:
pd.concat([df1,df2])

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    A   B     C
0  40  70  10.0
1  50  80  11.0
2  60  90  12.0
0  10  40   NaN
1  11  50   NaN

In [20]:
pd.concat([df1,df2], axis=1)

    A   B   C     A     B
0  40  70  10  10.0  40.0
1  50  80  11  11.0  50.0
2  60  90  12   NaN   NaN

In [22]:
pd.concat([df1, df2], axis=1, join='inner')

    A   B   C   A   B
0  40  70  10  10  40
1  50  80  11  11  50

In [29]:
A=pd.concat([df1, df2], axis=0,join='inner',keys=['ONE','TWO'])

In [31]:
A

        A   B
ONE 0  40  70
    1  50  80
    2  60  90
TWO 0  10  40
    1  11  50

In [33]:
df1= DataFrame({'A':[1,2,3,4],
                'B':[5,6,7,8],'C':[9,10,11,12]})

In [35]:
df1

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [45]:
df2 = DataFrame({'A:['a','b','c','d'],'D':['e','f','g','h'],'E':['i','j','k','l']

SyntaxError: invalid syntax (<ipython-input-45-8c52b91ee886>, line 1)

In [44]:
df2

    A   B
0  10  40
1  11  50